
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParseToDb</title>
</head>
<body>
    <div>
        <form asp-action="UploadFile" asp-controller="Home" method="post" enctype="multipart/form-data">
            Word to search: <input type="text" name="wordToSearch" id="wordToSearch">
            <h4>@ViewBag.Text</h4>
            Select a .txt file: <input type="file" name="file"><br><br>
            <input type="submit">
        </form>
        <br>

        <table style="width: 100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Word To Search</th>
                    <th>Sentence</th>
                    <th>Times The Word Occurs In The Sentence</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Sentences item in ViewBag.Sentences)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.WordToSearch</td>
                        <td>@item.TimesWordOccursInSentence</td>
                        <td>@item.Sentence</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
